<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Coffees</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Welcome to Coffee World</h1>
    <a href="/users/<%=user._id%>/coffees/new">Add a coffee</a>

    <ul>
      <% coffees.forEach((coffee)=> { %>
          <li> <a href="/users/<%= user._id %>/coffees/<%= coffee._id %>"> <%= coffee.name %>  </a> </li>
     <% }) %>
  </ul>
  </body>
</html>